{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "insertPragma": false,
  "proseWrap": "always",
  "requirePragma": false,
  "rangeStart": 0,
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "parser": "flow",
  "noSemi": true,
  "rcVerbose": true
}
